@font-face {
  font-family: "iconfont"; /* Project id 3857459 */
  src: url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.woff2?t=1673262696473') format('woff2'),
       url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.woff?t=1673262696473') format('woff'),
       url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.ttf?t=1673262696473') format('truetype');
}

@font-face {
  font-family: "iconfont"; /* Project id 3857459 */
  src: url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.woff2?t=1673341137134') format('woff2'),
       url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.woff?t=1673341137134') format('woff'),
       url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.ttf?t=1673341137134') format('truetype');
}

@font-face {
  font-family: "iconfont"; /* Project id 3728675 */
  src: url('//at.alicdn.com/t/c/font_3728675_6balx5puk9.woff2?t=1673521818679') format('woff2'),
       url('//at.alicdn.com/t/c/font_3728675_6balx5puk9.woff?t=1673521818679') format('woff'),
       url('//at.alicdn.com/t/c/font_3728675_6balx5puk9.ttf?t=1673521818679') format('truetype');
}
.icon-denglu:before {
  content: "\e611";
  font-size: 15px;
}
.icon-shezhi:before {
  content: "\e608";
  font-size: 21px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* @font-face {
  font-family: "iconfont"; 
  src: url('//at.alicdn.com/t/c/font_3728675_14h1q5a6iunj.woff2?t=1673434204650') format('woff2'),
  url('//at.alicdn.com/t/c/font_3728675_14h1q5a6iunj.woff?t=1673434204650') format('woff'),
  url('//at.alicdn.com/t/c/font_3728675_14h1q5a6iunj.ttf?t=1673434204650') format('truetype');
} */
.icon-yejian1:before {
  content: "\e712";
}
.icon-shixin:before {
  content: "\e635";
}

.icon-guidangxiangmu:before {
  content: "\e660";
}
.icon-lianjie:before {
  content: "\e620";
}

.icon-zhuye:before {
  content: "\e64e";
}
.icon-xiangxia:before {
  content: "\e600";
  color: white;
  
}
.icon-arrowupshangjiantou:before {
  content: "\e6cf";
  font-size: 20px;
  /* color: black; */
}
.icon-arrowupshangjiantou:before:hover{
  content: "\e6cf";
  color: white;
}


