@font-face {
  font-family: "iconfont"; /* Project id 3728675 */
  src: url('iconfont.woff2?t=1666696019827') format('woff2'),
       url('iconfont.woff?t=1666696019827') format('woff'),
       url('iconfont.ttf?t=1666696019827') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 3857459 */
  src: url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.woff2?t=1673262696473') format('woff2'),
       url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.woff?t=1673262696473') format('woff'),
       url('//at.alicdn.com/t/c/font_3857459_5b495n5ku1d.ttf?t=1673262696473') format('truetype');
}

@font-face {
  font-family: "iconfont"; /* Project id 3857459 */
  src: url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.woff2?t=1673341137134') format('woff2'),
       url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.woff?t=1673341137134') format('woff'),
       url('//at.alicdn.com/t/c/font_3857459_tvshh3d636e.ttf?t=1673341137134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shixin:before {
  content: "\e635";
}

.icon-guidangxiangmu:before {
  content: "\e660";
}
.icon-xiangxia:before {
  content: "\e600";
  color: white;
  
}
.icon-arrowupshangjiantou:before {
  content: "\e6cf";
  font-size: 20px;
  /* color: black; */
}
.icon-arrowupshangjiantou:before:hover{
  content: "\e6cf";
  color: white;
}

.icon-lianjie:before {
  content: "\e620";
}

.icon-zhuye:before {
  content: "\e64e";
}

